.face {
    transition: 0.3s;
}

.face:hover {
    color: #c59b76;
}

    
.inst {
    background: #000;
    color: white;
    transition: 0.3s;
    border-radius: 50px;
    padding: 4px;
}

.inst:hover {
    background: #c59b76;
}
